/* ==========================================================================
 Colors
========================================================================== */

html {
	--color-blue: #003366;
	--color-dark-blue: #000c3b;
	--color-dark-gray: #333;
	--color-dark-teal: #82ada9;
	--color-gray: #6d6d6d;
	--color-light-blue: #3f5c94;
	--color-light-gray: #d3d3d3;
	--color-light-teal: #e5ffff;
	--color-teal: #b2dfdb;
	--color-white: #ffffff;
}

/* ==========================================================================
 Typography
========================================================================== */

html {
	--font-primary: 'Roboto', sans-serif;
	--font-secondary: 'Montserrat', sans-serif;

	--margin-standard: 1rem;

	--size-ratio: 1.1;
	--size-six-up: calc( var(--size-five-up) * var(--size-ratio) );
	--size-five-up: calc( var(--size-four-up) * var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
	--size-one-up: calc( 1rem * var(--size-ratio) );
	--size-one-down: calc( .9rem * var(--size-ratio) );

	color: var(--color-dark-gray);
	font-family: var(--font-primary);
	line-height: 1.4;
}

a {
	font-family: var(--font-secondary);
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: var(--color-dark-teal);
	text-decoration: underline;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--color-blue);
	font-size: var(--size-six-up);
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	color: var(--color-light-blue);
	font-size: var(--size-four-up);
	letter-spacing: .1rem;
	line-height: 1.1;
	text-transform: uppercase;
}

h3 {
	color: var(--color-dark-gray);
	font-size: var(--size-three-up);
	margin-top: var(--margin-standard);

}

h4 {
	color: var(--color-gray);
	font-size: var(--size-two-up);
	font-weight: 700;
	margin: var(--margin-standard) 0 0;
}

h5 {
	color: var(--color-gray);
	font-size: var(--size-one-up);
	font-weight: 400;
}

h6 {
	color: var(--color-light-blue);
	font-size: var(--size-one-down);
	font-weight: 400;
}

a {
	color: var(--color-dark-teal);
	font-family: var(--font-primary);
}

a:visited {
	color: var(--color-light-blue);
}

a:hover {
	color: var(--color-teal);
	text-decoration: underline;
}

a:focus {
	border: 1px solid var(--color-teal);
}

a:active {
	color: var(--color-light-teal);
}

ul {
	list-style-position: inside;
}

ol {
	list-style: upper-roman;
}

.site-logo {
	color: var(--color-white);
	font-family: var(--font-secondary);
	font-size: var(--size-six-up);
	font-weight: bold;
	padding-left: .3rem;
	letter-spacing: .3rem;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;
}

.site-logo:visited {
	color: white;
}

.site-logo:hover {
	text-decoration: none;
	color: white;
}

blockquote {
	background: var(--color-dark-blue);
	border-left: 8px solid var(--color-light-blue) ;
	border-radius: 15px;
	color: var(--color-white);
	font-family: var(--font-secondary);
	font-size: var(--size-two-up);
	font-weight: 700;
	line-height:1.3;
	margin: 50px auto;
	padding: 2.5rem 1rem 1rem 2rem;
	position: relative;	
	width: 60%;
}

blockquote::before {
	color: var(--color-white);
	content: "\201C";
	font-family: var(--font-primary);
	font-size: 4em;
	left: 10px;
	position: absolute;
	top: -10px;
}

@media (min-width: 600px) {

	html {
		--size-one-down: calc( .75rem * var(--size-ratio) );
		--size-ratio: 1.2;
	}

	.site-logo {
		font-size: var(--size-six-up);
		letter-spacing: 1.5rem;
		text-align: center;
	}

	blockquote {
		font-size: var(--size-three-up);
		line-height:1.3;
		margin:50px auto;
		padding:1.2em 30px 1.2em 75px;
		width:60%;
	}


}

/* ==========================================================================
 Page Layout
========================================================================== */

main {
	margin: 2rem auto;
	max-width: 40rem;
}


/* ==========================================================================
 Header Component
========================================================================== */

header {
	background-color: var(--color-dark-blue);
	padding: 2rem;
	text-align: center;
}

nav ul {
	padding-left: 0;
	text-align: center;
}

nav li {		
	display: inline;
}

nav a {
	color: var(--color-white);
	display: block;
	font-family: var(--font-secondary);
	padding: .75rem;
}

nav a:visited {
	color: var(--color-white);
}

nav a:hover {
	color: var(--color-light-gray);
	text-decoration: none;
}

nav a:focus {
	border: 1px solid var(--color-light-gray);
	border-radius: 10px;
}

nav a:active {
	color: var(--color-dark-teal);
}

@media (min-width: 600px) {
	nav a {
		display: inline-block;
	}


/* ==========================================================================
 Footer Component
========================================================================== */

footer {
	background-color: var(--color-dark-teal);
	color: var(--color-white);
	padding: 2rem;
}

footer h3 {
	color: var(--color-white);
}


/* ==========================================================================
 Examples
========================================================================== */

figure {
	border-color: var(--color-light-gray);
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	padding: 10px 20px 10px;
}

.example-font-secondary {
	font-family: var(--font-secondary);
}

.featured-text {
	font-family: var(--font-primary);
	font-size: var(--size-three-up);
	font-weight: 700;
	margin: 30px;
}

.tertiary-text {
	font-family: var(--font-primary);
	font-weight: 100;
	font-style: italic;
}

cite {
	font-family: var(--font-primary);
	font-style: italic;
	font-weight: 100;
}

/*Components Examples*/

.link-button, .link-button:visited {
	background-color: var(--color-blue);
	border-radius: 20px;
	color: var(--color-white);
	display: inline-block;
	font-family: var(--font-secondary);
	font-size: var(--size-one-up);
	margin-top: .5rem;
	padding: 1rem;
	text-align: center;
	transition: background-color 0.2s ease;
}

.link-button:hover {
	background-color: var(--color-light-blue);
	text-decoration: none;
	transition: background-color 0.2s ease;
}

.link-button:focus {
	outline: 5px solid var(--color-light-gray);
	outline-offset: 4px;
}

.link-button:active {
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	outline: none;
}

.link-button-hero, .link-button-hero:visited {
	background-color: var(--color-dark-teal);
	font-size: var(--size-three-up);
	font-weight: 700;
	padding: 1.3rem;
}

.link-button-hero:hover {
	background-color: var(--color-teal);
}

.link-button-tertiary, .link-button-tertiary:visited {
	background-color: var(--color-white);
	border: 2px solid var(--color-light-gray);
	color: var(--color-dark-gray);
	font-size: var(--size-one-down);
	padding: .7rem;
}

.link-button-tertiary:hover {
	background-color: var(--color-light-gray);
	color: var(--color-white);
}

details summary {
	font-family: var(--font-secondary);
	font-size: var(--size-two-up);
	font-weight: bold;
	padding-top: 20px;
}

dialog {
	border: 1px solid var(--color-light-gray);
	border-radius: 1rem;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, .5);
	padding: 2rem;
}

dialog::backdrop {
	background-color: rgba(0,0,0, .5);
}

dialog[open] {
	animation: fade-in .75s ease-out;
}

@keyframes fade-in {
	
	0% {
		opacity: 0;
		transform: scale(.1);
	}
	
	100% {
		opacity: 1;
		transform: scale(1);
	}
	
}

@media (min-width: 600px) {
	.link-button-hero {
		padding: 1.5rem;
	}
}